<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilneprojekt">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ListOfCarsActivity"
            android:label="@string/title_activity_list_of_cars"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MyCarsActivity" />
        <activity android:name=".ReturnCarActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FilterActivity" />
        <activity android:name=".DetailInfoCarActivity" />
        <activity android:name=".HistoryListActivity" />
        <activity android:name=".HistoryDetailsActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".AddCarActivity" />
    </application>

</manifest>